{% extends "base.html" %}
{% block title%}{% endblock %}
{% block head %}  
    {{ super() }}
{% endblock %} 

 
{%block content%}        
        
        <div class="bg-image">
            <div class="filter-bg"></div>
        </div>
    
        <div class = "container">           

            <h1>Flexible Geocoder</h1>

            <h3>Returns longitude and latitude of a given location <br>
                You can either submit a .csv file or WIP(introduce the values yourself). <br><br>
                CURRENTLY ONLY WORKING FOR CSV. </h3>

            <div class = "form-container">

                <form action = '{{url_for("process")}}' method = "POST" enctype="multipart/form-data">
                    
                    <label id = "upload">Upload your .csv file here. <br></label>    
                        <input type = "file" name ="f_address"> <br>

                        {% with messages = get_flashed_messages() %}
                            {%if messages %}
                                {% for msg in messages %}
                                   <p class = "success-msg">{{ msg }}</p>
                                {% endfor %}
                                                              
                                {% for table in tables %}
                                    <h2>{{ titles[loop.index] }}</h2>
                                    {{ table | safe }}
                                {% endfor %}
                              
                            {% endif %}
                        {% endwith %}

                        {% if error %}
                            <p class = "error-msg"><strong>Error: </strong> {{ error }}</p>
                        {%endif%}

                        
                        <p>WIP:You may also enter the values yourself. <br>
                        Only the address is required, but the more data the better. <br><br>
                    
                        It is recommended to format the address <a href ="https://support.google.com/mapcontentpartners/answer/160409?hl=en">like so.</a></p>        
  
                    <button type="submit" id="submit" class="submit-button">Submit</button>  
                
                </form>    
                {% if btn is defined %} 
                {% include btn ignore missing %}
               {% endif %}                             
            </div>
        </div>

{% endblock %}
 